save-exact=true
#arquivo de configuração
#save-exact=true faz as dependencias instaladas ficarem com versões inteira sem ^
#o beneficio é poder usar um bitbucket, tentando atualizar nossas dependencias 
#rodando nosso projeto para verificar se novas atualizações vão dar algum bug

